.ajax_mn_filters{
    display: flex;
    .ajax_mn_filtercont{
        width: auto;
        height: 45px;
        border: 1px solid #7CCD90;
        color: #7CCD90;
        background-color: rgb(0,0,0,0.2);
        border-radius: 4px;
      &:not(:first-child){
        margin-left: 3rem;
      }
      >label {
        margin: 1rem 2rem;
        text-align: left;
        
      }
      .ajax_mn_filter{
        //margin-left: 3rem;
        display: block;
        width: 210px;
        max-width: 210px;
        //position: absolute;
        //top: 0;
        margin: 1rem 0;
        button.ms-choice{
            background-color: transparent;
            border: none;
            color: grey;
            position: absolute;
            top:-35px;
    
            span{
                display: none;
            }
            div.icon-caret{
                //display: none;           
            }
            div.icon-close{
                right: 8px;
                display: none;
            }
        }
        
        .ms-drop{
            //margin-top: 1.2rem;
            position: absolute;
            display: inline flow-root list-item;
            z-index: 1000;
            max-width: 210px;
            max-height: 400px;
            background-color: rgb(0,0,0,0.8);
            color: white;
            ul li {
                padding: 0;
                height: 0px;
                input{
                    margin-left: -2.25rem;
                }
            }
        }
    }
    }
    
}
.ajax_mn_content{
    min-height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    > article{
        position: relative;
        margin: 3rem 1rem;
        flex-basis: 31%;
    }
}